html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	--fgColor: #E9E2CB;
	--bgColor: #002731;

	color: var(--fgColor);
	background-color: var(--bgColor);

	font-size: 13pt;
	--ansiBlink: ansi-blink 2s infinite;
	--ansiSlowBlink: ansi-blink 4.5s infinite;

	--base-font: 'perfect_dos_vga_437regular';

	--alt-font-no-11: 'w95faregular';
	--alt-font-no-12: 'monospace';
	--alt-font-no-13: 'perfect_dos_vga_437regular';
	--alt-font-no-14: 'vcr osd mono';
	--alt-font-no-15: 'glass tty vt2020';
	--alt-font-no-16: 'press_start_2pregular';
	--alt-font-no-17: 'w95faregular';
	--alt-font-no-18: '8bit_wondernominal';
	--alt-font-no-19: 'dogica_pixelregular';

	--alt-font-fraktur: 'alagardmedium';

	font-family: var(--base-font);

	text-shadow: 0px 0px 1px rgba(0,0,0,0.25);
}

h1 {
	padding: 0.25em;
	margin: 0;
	box-sizing: border-box;
}

#options {
	background: #999;
	justify-content: flex-end;
	align-items: center;
	padding: 0.5em;
	display: flex;
	flex-direction: row;
	color: black;
	text-shadow: none;
}

textarea {
	margin: 0;
	min-width: 100%;
	min-height: 16em;
	max-height: 50%;
	overflow: auto;
}

#output {
	display: block;
	margin: .5em;
}

#output > * {
	max-width: 100%;
	opacity: 0.95;
}

#output > *:empty {
	min-height: 1rem;
}

.ansi:empty {
	display: none;
}

.ansi:not(:empty) {
	word-spacing: -0.125em;
	display: inline-block;
	min-height: 1.5em;
	line-height: 1.5em;
	word-break: break-word;
	white-space: pre-wrap;
}

@keyframes ansi-blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.25;
	}
	100% {
		opacity: 1;
	}
}
